body{
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
    background-color: #f5e5cc;
}
.product-details{
    display: flex;
}
.det{
    margin-top: 120px;
}
.image{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 40px;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 60px;
}
.title{
    color: rgb(24, 23, 23);
}
.description{
    width: 600px;
    color: rgb(66, 66, 66);
    font-size: 20px;
    margin-bottom: 40px;
}
.price{
    color: brown;
    font-weight: 900;
    margin-bottom: 60px;
}
.date{
    font-size: 12px;
    color: gray;
}
.addToCart{
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #d1b28f; 
     border-radius: 50px;  
     background-color: #d1b28f;
    font-size: 13px;
    transition: all 0.3s ease;
    text-decoration: none;
    margin-right: 50px;
}
.addToCart:hover{
    background-color: #f5e5cc; 
}

.last{
    display: flex;
    justify-content: space-between;
}