body{
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
    background-color: #f5e5cc;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.conter{
    text-align: center;
    margin-bottom: 30px;
    color: gray;
}
.cards {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}
.card {
    padding: 16px;
    margin: 16px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.product-title {
    font-size: 15px;
    margin: 8px 0;
    color: rgb(73, 72, 72);
}
.product-price {
    color: rgb(179, 178, 178);
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.addToCart{
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    border: 2px solid #d1b28f; 
     border-radius: 50px;  
     background-color: #d1b28f;
    font-size: 13px;
    transition: all 0.3s ease;
    text-decoration: none;
}