/* General page styles */
*{
    
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Form container */
.form{
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.otpverify{
    width: 100%;
    display: flex;
    gap: 20px;

}

.btn{
    padding: 10px ;
    margin: 10px 10px;
    background-color: green;
    outline: none;
    border: none;
    border-radius: 30px;
    width: 150px;
    cursor: pointer;
}

input{
    width: 100%;
    padding: 10px;
    margin: 10px;
}

