
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pacifico&family=Playwrite+AU+VIC+Guides&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Lora", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}

#reg-form {
  background: linear-gradient(135deg, #12afe8, #aedcec);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

#reg-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* transition: 0.7s ease; */
}
.form-group input:hover{
  /* transform: scale(1.1); */
  border: 1px solid black;
}

#register-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  /* background: #007BFF; */
  color: rgb(19, 17, 17);
  cursor: pointer;
  transition: 0.7s ease;
}




.register-text {
  margin-top: 15px;
  text-align: center;
}

.register-text a {
  color: #020912;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}
